[class*="col-"] {
    width: 100%;
}

@media only screen and (min-width: 600px) {
    /* For tablet: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}

@media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}

    h1 {
    text-align: center;
    font: italic bold 1.0em/1.2 Arial, sans-serif;
}

.container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    position: relative;
}

.dashed-box {
    position: relative;
    z-index: 1;
    border: dashed;
    height: 8em;
    margin: 1em 2em;
    border-radius: 20px;
}

.gold-box {
    position: absolute;
    z-index: 3;
    background: gold;
    width: 80%;
    left: 60px;
    top: 3em;
    height: 4em;
    opacity: 0.5;
}

.green-box {
    position: absolute;
    z-index: 2;
    background: lightgreen;
    width: 20%;
    left: 65%;
    top: -25px;
    height: 7em;
    opacity: 0.9;
}

.purple-box {
    z-index: 4;
    background: purple;
    width: 10%;
    left: 65%;
    top: 25px;
    height: 5em;
    opacity: 0.2;
    border-radius: 5px;
}